body {
    box-sizing: border-box;

    color: white;
    background-color: orange;
}

header {
    background-color: yellow;
    color: orangered;
}

header ul {
    list-style: none;
    padding: 5px 0;

    display: flex;
    justify-content: center;
    gap: 5vw;
}

#content {
    background: url("./pizza.jpeg");
    padding: 10px;
}

#content * {
    background-color: red;
    padding: 10px 5px;
}